<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css ">
    <title>El rincón del mate</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/images/RDM sin fondop.png")">
</head>
<body style="background-color: #D2B48C; font-family: Candara; font-size: large;">
    <div id="header">
        <header>
            <nav>
                <a href="mantenimiento.html">Recomendaciones y Curiosidades</a>
                <a href="mantenimiento.html">Sobre mi y contacto</a>
                <a href="home.html">Home</a>
                <a href="mantenimiento.html">Tips y consejos</a>
                <a href="mantenimiento.html">Test de yerba ideal</a>
                <a href="mantenimiento.html">Reseñas</a>
            </nav>
        </header>
        <img src="~/images/RDM sin fondop" id="logo" alt="Logo el rincón del mate" height="100px">
        <img src="~/images/En mantenimiento.JPG" id="Mantenimiento" alt="Mantenimiento">
</body>
</html>